<h2 class="mb-4">Actividad-8</h2>

<div class="container" >
    <div class="row">
    <div class="col-md-3" id="datos">

<div >
    <div class="mt-3">
    <label for="">Nombre:</label>
    <input type="text" class="form-control mt-2" name="" #nombre></div>
    <br><div class="mt-2">
    <label for="">Apellidos:</label>
    <input type="text"  class="form-control mt-2" name="" #apellidos></div>
    <br><div class="mt-2">
    <label for="">Edad:</label>
    <input type="number"  class="form-control mt-2" name="" #edad></div>
    
    <div class="mt-5 mb-4">
    <button class="form-control"
    (click)="Registro(nombre.value, apellidos.value,edad.valueAsNumber)">Agregar datos</button></div>
        
</div></div>

<div class="col-md-8" id="tabla">
<div class="container table-responsive py-4">
    <table class="table">
        <thead>
            <tr class="table-header">
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Edad</th>
                <th scope="col">Condición</th>
            </tr>
        </thead>
        <tbody>
                <td id="grupo" >
                    <tr *ngFor="let nombre of grupo1" >
                        <td>{{nombre}}</td>
                    </tr>
                </td>

                <td id="grupo">
                    <tr *ngFor="let apellidos of grupo2" >
                        <td>{{apellidos}}</td>
                    </tr>
                </td>

                <td id="grupo">
                    <tr *ngFor="let edad of grupo3" >
                        <td>{{edad}}</td>
                    </tr>
                </td>
                <td >
                    <tr appCondicion *ngFor="let condicion of grupo4" >
                        <td >{{condicion}}</td>
                    </tr>
                </td>

        </tbody>

    </table></div>
</div>

</div>
</div>
